<li class="list">
    <a href="{{url}}" target="blanc">
        <h3 class="title">{{title}}</h3>
        <img src="{{urlToImage}}" alt="4a4a4a" width="300px">
        <p class="description">{{description}}</p>
    </a>
</li>